
<h2><%= t :hello %></h2>

<div class="world-clock">
    <ul class="clock">
      <li>
          <canvas class="CoolClock:securephp:130::8:showDigital:logClock"></canvas>
          <p><%= t :beijing %></p>
      </li>
      <li>
          <canvas class="CoolClock:Disc:130::-8:showDigital:logClock"></canvas>
          <p><%= t :sanF %></p>
      </li>
      <li>
          <canvas class="CoolClock:Tor:130::11:showDigital:logClock"></canvas>
          <p><%= t :sydney %></p>
      </li>
      <li>
          <canvas class="CoolClock:machine:130::5.3:showDigital:logClock"></canvas>
          <p><%= t :bangalore %></p>
      </li>
      <li>
          <canvas class="CoolClock:watermelon:130::0:showDigital:logClock"></canvas>
          <p><%= t :london %></p>
      </li>
      <li>
          <canvas class="CoolClock:Lev:130::1:showDigital:logClock"></canvas>
          <p><%= t :berlin %></p>
      </li>
    </ul>
</div>


