
<h2 class="page-title"><%= t :hello %></h2>
<h2 class="page-title-mobile"><%= t :hello_mobile %></h2>

<div class="row create-button">
    <%= link_to t('click_me'), products_path, class: 'click-me col-md-offset-10' %>
</div>

<div class="world-clock">
    <ul class="clock">
      <li>
          <canvas class="CoolClock:securephp:130::8:showDigital:logClock"></canvas>
          <p><%= t :beijing %></p>
      </li>
      <li>
          <canvas class="CoolClock:Disc:130::-8:showDigital:logClock"></canvas>
          <p><%= t :sanF %></p>
      </li>
      <li>
          <canvas class="CoolClock:Tor:130::11:showDigital:logClock"></canvas>
          <p><%= t :sydney %></p>
      </li>
      <li>
          <canvas class="CoolClock:machine:130::5.3:showDigital:logClock"></canvas>
          <p><%= t :bangalore %></p>
      </li>
      <li>
          <canvas class="CoolClock:watermelon:130::0:showDigital:logClock"></canvas>
          <p><%= t :london %></p>
      </li>
      <li>
          <canvas class="CoolClock:Lev:130::1:showDigital:logClock"></canvas>
          <p><%= t :berlin %></p>
      </li>
    </ul>
</div>


