
<%= form_for :product, url: products_path do |f| %>
    <% if @product.errors.any? %>
        <div class="error">
            <p><%= pluralize(@product.errors.count, "error") %> 个错误:</p>
            <ul>
                <% @product.errors.each_with_index do |msg, i| %>
                    <li><%= msg[1] %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= f.label :title, t('.name') %>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :description, t('.description') %>
        <%= f.text_area :description %>
    </p>
    <p>
        <%= f.label :image_url, t('.image_url') %>
        <%= f.text_field :image_url %>
    </p>
    <p>
        <%= f.label :price, t('.price') %>
        <%= f.text_field :price %>
    </p>
    <p>
        <%= f.label :tags, t('.tags') %>
        <%= f.text_field :tags %>
    </p>

    <p>
        <%= f.submit t('.submit') %>
    </p>

<% end %>